ale-py
dm-control==1.0.10
ffmpeg
glfw
gymnasium==0.28.1
gymnasium-notices
matplotlib
moviepy
mujoco==2.3.2
numpy
opencv-python
pandas
pygame
sb3-contrib==1.7.0
scipy
Shimmy
stable-baselines3==2.0.0a1
tensorboard
torch
wandb

